{{> _head}}

{{> _site-header}}

<main>

  <section>

    {{#each work-items}}
      <div class="work-callout">

        <div class="work-callout--media">
          <h2 class="work-callout--title">
            {{ title }}
          </h2>

          <div class="work-callout--image-wrapper">
            <img class="work-callout--image" src="{{ image_url }}" alt="Screenshot of {{ title }}" />
          </div>
        </div>

        <div class="work-callout--content">

          <p class="work-callout--subtitle">
            {{ join tags ", " }}
          </p>

          <p class="long-reading">
            {{ body }}
          </p>

          <div class="work-callout--button-wrapper">
            <a class="button button_standard button_inline" href="{{ action.url }}">{{ action.title }}</a>
          </div>
        </div>

      </div>
    {{/each}}

  </section>
</main>

{{> _footer}}
