{{> _head}}

{{> _site-header}}

<main>

  <section>

  <ol class="even-grid">
    {{#each work-items}}
      <li class="even-grid--item">


      <div class="even-grid--item-inner-wrapper">
        <div class="even-grid--contents {{#gt actions.length 1}}even-grid--contents_multiple-actions{{/gt}}">

          <h2 class="even-grid--title" data-fittext-compression="1.7">{{ title }}</h2>

          {{#if headline}}
          <p class="even-grid--subtitle {{#if image}}even-grid--subtitle_with-image{{/if}}" data-fittext-compression="1.7">{{ headline }}</p>
          {{/if}}

          {{#if image}}
          <div class="even-grid--image-wrapper">
            <img class="even-grid--image" src="{{ image }}" alt="{{ image_alt }}" />
          </div>
          {{/if}}


          <div class="even-grid--button-wrapper {{#if image}}even-grid--button-wrapper_with-image{{/if}}">
            {{#each actions}}
            <a href="{{ url }}" class="button button_standard-hidden button_inline">{{ cta }}</a>
            {{/each}}
          </div>


        </div>
      </div>


      </li>
    {{/each}}
  </ol>

  </section>
</main>

{{> _footer}}
