{{> _head}}

{{> _site-header}}

<main>

  <section>


  <ol class="even-grid">
    {{#each work-items}}
      <li class="even-grid--item">
      <a href="{{ url }}" title="Read more about {{ title }}">

        <div class="even-grid--item-inner-wrapper">
          <div class="even-grid--contents">

            <h2 class="even-grid--title" data-fittext-compression="1.7">{{ title }}</h2>

            {{#if headline}}
              <p class="even-grid--subtitle" data-fittext-compression="1.7">{{ headline }}</p>
            {{/if}}

            {{#if image}}
            <div class="even-grid--image-wrapper">
              <img class="even-grid--image" src="{{ image }}" alt="{{ image_alt }}" />
            </div>
            {{/if}}

            <div class="even-grid--button-wrapper {{#if image}}even-grid--button-wrapper_with-image{{/if}}">
              <span class="button button_standard button_inline">Read More</span>
            </div>


          </div>
        </div>

      </a>
      </li>
    {{/each}}
  </ol>

  </section>
</main>

{{> _footer}}
