{{#unless overlay-text}}<a href="{{anchor}}" title="Stalk {{first-name}} {{last-name}}. Go ahead. It's OK!">{{/unless}}

  <div class="team-listing--item">

      <img class="team-listing--item--mug" src="{{image}}" alt="Image of {{first-name}} {{last-name}}, {{title}} at Sparkbox">

      <div class="team-listing--item--name-wrapper">
        <h3 class="team-listing--item--name">
          <span class="team-listing--item--first-name">{{first-name}}</span> 
          <span class="team-listing--item--last-name">{{last-name}}</span>
        </h3>
        <small class="team-listing--item--title">{{title}}</small>
      </div>

      {{!-- This overlay-text submodule allows descriptive text to be place on top the image,
            as in "This could be you. Contact Us." on the apprentice item. --}}

      {{#if overlay-text }}
        <div class="team-listing--item--overlay--text">
          {{{ overlay-text }}}
        </div>
      {{/if}}
  </div>

{{#unless overlay-text}}</a>{{/unless}}