<div class="teamListing-item">
  <a href="{{anchor}}" title="Stalk {{first-name}} {{last-name}}. Go ahead. It's OK!">
    <img class="teamListing-item-mug" src="{{image}}" alt="Image of {{first-name}} {{last-name}}, {{title}} at Sparkbox">
    <div class="teamListing-item-nameWrapper">
      <h3 class="teamListing-item-name">
        <span class="teamListing-item-firstName">{{first-name}}</span> 
        <span class="teamListing-item-lastName">{{last-name}}</span>
      </h3>
      <small class="teamListing-item-title">{{title}}</small>
    </div>
  </a>
</div>