{{> _head}}

{{> _site-header}}

<main>
  <section>


  <ol class="evenGrid">
    {{#each work-items}}
      <li>
      <a href="{{ url }}" title="Read more about {{ title }}">
        <div class="evenGrid-itemWrapper">
          <div class="evenGrid-item">

            <h2>{{ title }}</h2>

            {{#if headline}}
              <p>{{ headline }}</p>
            {{/if}}

            {{#if image}}
              <img src="{{ image }}" alt="{{ image_alt }}" />
            {{/if}}

          </div>
        </div>
      </a>
      </li>
    {{/each}}
  </ol>


  </section>
</main>

{{> _footer}}
