{{> _head}}

{{> _site-header}}

<main>
  <section>


  <ol class="evenGrid">
    {{#each work-items}}
      <li class="evenGrid-item">
      <a href="{{ url }}" title="Read more about {{ title }}">

        <div class="evenGrid-itemInnerWrapper">
          <div class="evenGrid-contents {{#if image}}evenGrid-contents-hasImage{{/if}}">

            <h2>{{ title }}</h2>

            {{#if headline}}
              <p>{{ headline }}</p>
            {{/if}}

            {{#if image}}
            <div class="evenGrid-imageWrapper">
              <img class="evenGrid-image" src="{{ image }}" alt="{{ image_alt }}" />
            </div>
            {{/if}}

          </div>
        </div>

      </a>
      </li>
    {{/each}}
  </ol>

  <span class="button-standard">something</span>

  </section>
</main>

{{> _footer}}
